<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.el.ariby">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.main.menu.navigation.MapFindLocationActivity"></activity>
        <activity android:name=".ui.main.menu.follow.FindFollow"></activity>
        <activity android:name=".ui.main.menu.navigation.MapSearchActivity" />
        <activity android:name=".ui.main.menu.navigation.MapInputActivity"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="bcb5be527657eea3d6511a0c20cbb41b" />

        <activity android:name=".ui.main.MapActivity" />
        <activity android:name=".ui.main.menu.club.ClubDetailActivity" />
        <activity android:name=".ui.main.menu.club.ClubSearchActivity" />
        <activity android:name=".ui.main.menu.club.ClubCreateActivity" />
        <activity android:name=".ui.join.NicknameActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".ui.join.HeightActivity" />
        <activity android:name=".ui.join.WeightActivity" />
        <activity android:name=".ui.join.GenderActivity" />
        <activity android:name=".ui.join.AgeActivity" />
        <activity android:name=".ui.join.JoiningActivity" />
    </application>

</manifest>